/* The basic container */
.xkcdcontainer {
    overflow: hidden;

    /* To make the height of the container exact. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

#xkcdcontent {
  white-space: nowrap;
  position: relative;
  overflow: hidden;    /* Required to make ellipsis work */
  text-overflow: clip;

  top: 0%;
  
  -webkit-transition: top 3s, height 3s;
  -moz-transition: top 3s, height 3s;
  transition: top 3s, height 3s;
}
